*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    background-color: #454545;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

#logo{
    width: 20px;

}

#logo svg{
    fill: white;
}

#upper-nav{
width: 100%;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

li{
    list-style: none;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 170px;
}

a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
a:hover {
    border: 1px solid red;
    background-color: white;
    color: black;
}

#sec-1{
display: flex;
flex-direction: column;
gap: 15px;
}

.banner{
    font-size: 32px;
    font-weight: 600;
    gap: 10px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    flex-direction: column;
    padding: 0px 100px;
    background-color: #000;
    color: white;
}

.img-bnn{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    background-image: url(iphone-15-pro.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}



.banner-2{
    font-size: 32px;
    font-weight: 600;
    gap: 10px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
    padding: 0px 100px;
    background-color: #F5F5F7;
    color: black;

}

.img-bnn-2{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    background-image: url(iphone-15.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center; 
}

.banner-3{
    font-size: 32px;
    font-weight: 600;
    gap: 10px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    flex-direction: column;
    padding: 0px 100px;
    background-color: black;
    color: white;
}

.img-bnn-3{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    background-image: url(ipad-pro.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.mas-info-bnn{
    background-color: #0077ED;
    color: white;
    font-size: 17px;
    font-weight: 400;
    padding: 11px 21px;
    border: none;
    border-radius: 80px;
}

#split{
    height: 1776px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 12px;
}
.split-1{
    height: 580px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    gap: 12px;
}
    
.split-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-image: url(wvdc24.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    width: 50%;
    border: 1px solid blue;
    margin-left: 12px;
    gap: 10px;
}

.split-left h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 34px;
    font-weight: lighter;
    display: flex;
    margin-top: 50%;
}

.split-left p{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
    margin-left: 25%;
    margin-right: 25%;
}

.split-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #C2E4F0;
    color: black;
    width: 50%;
    border: 1px solid blue;
    margin-right: 12px;
    background-image: url(ipad-air-nuevo.png);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.split-right img{
    display: flex;
    margin-top: 10%;
    height: 30px;
    width: 129px;
}

.split-right p{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
    margin-left: 25%;
    margin-right: 25%;
}


.mas-info-sp{
    background-color:#0077ED;
    height: 35.6px;
    width: 137.24px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight:200;
    padding: 7px 15px;
    border: none;
    border-radius: 80px;
}

.split-2{
    display: flex;
    gap: 12px;
    height: 580px;
    width: 100%;
    border: 1px solid blue;
}

.split-left-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F5F5F7;
    color: black;
    width: 50%;
    border: 1px solid red;
    margin-left: 12px;
    background-image: url(MacBook-Air.png);
    background-position-y: bottom;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    gap: 10px;
}

.split-left-2 h2{
    display: flex;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
}

.split-left-2 p{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.split-right-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    width: 50%;
    border: 1px solid red;
    margin-right: 12px;
    background-image: url(watches.png);
    background-size: 100% 60%;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.split-right-2 img{
    display: flex;
    margin-top: 10%;
}

.split-right-2 p{
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.split-3{
    display: flex;
    gap: 12px;
    height: 580px;
    width: 100%;
    border: 1px solid red;
}

.split-left-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    width: 50%;
    border: 1px solid blue;
    margin-left: 12px;
    background-image: url(airpods.png);
    background-size: 100% 60%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    gap: 10px;
}

.split-left-3 h2{
    display: flex;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.split-left-3 p{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.split-right-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFBFD;
    color: black;
    width: 50%;
    border: 1px solid blue;
    margin-right: 12px;
    background-image: url(bg-watch-2.png);
    background-size: 100% 60%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    gap: 10px;
}

.split-right-3 img{
    display: flex;
    margin-top: 10%;
}

.split-right-3 p{
    display: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#gallery{
    display: flex;
    justify-content: center;
    height: 705.25px;
    width: 100%;
    border: 1px solid red;
}

.imgs-gallery{
    display: flex;
    height: 667.25px;
    width: 1250px;
    border: 1px solid blue;
}

footer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 512.2px;
    width: 100%;
    background-color: #F5F5F7;
    border: 1px solid blue;
    margin: 0px;
    padding: 0px;
}

.footer{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    height: 100%;
    border: 1px solid green;
}

.apple-tv-p{
    display: flex;
    height: 26.4px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 11px;
    border-bottom: 1px solid #0000008F;
    border: 1px solid blue;
}

.apple-tv-p p{
    color: #0000008F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

span{
    text-decoration: underline;
}

.big-box-lower-nav{
    display: flex;
    width: 980px;
    width: 312px;
    padding-top: 20px;
    width: 100%;
    border: 1px solid red;
    border: 0px;
}

#lower-nav{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.navs-container{
    display: flex;
    height: 100%;
    width: 100%;
}

.box-dis-app{
    display: flex;
    flex-direction: column;
    height: 312px;
    width: 245px;
    border: 1px solid red;
}

.discover ul{
    display: flex;
    flex-direction: column;
}

.apple-wallet ul{
    display: flex;
    flex-direction: column;
}

.box-acc-ent{
    display: flex;
    flex-direction: column;
    height: 312px;
    width: 245px;
    border: 1px solid blue;
}

.account ul{
    display: flex;
    flex-direction: column;
}

.entertainment ul{
    display: flex;
    flex-direction: column;
}

.box-comp-edu{
    display: flex;
    flex-direction: column;
    height: 312px;
    width: 245px;
    border: 1px solid red;
}

.company ul{
    display: flex;
    flex-direction: column;
}

.education ul{
    display: flex;
    flex-direction: column;
}

.box-val-ab{
    display: flex;
    flex-direction: column;
    height: 312px;
    width: 245px;
    border: 1px solid blue;
}

.values ul{
    display: flex;
    flex-direction: column;
}

.about ul{
    display: flex;
    flex-direction: column;
}

#lower-nav h6{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000008F;
    width: 245px;
    height: 16px;
    margin-bottom: 9.6px;
    text-align: center;
}

#lower-nav li{
    list-style: none;   
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 225px;
    margin-bottom: 9.6px;
    text-align: center;
}

#lower-nav a{
    color: #0000008F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

a:hover {
    border: 1px solid red;
    background-color: white;
    color: black;
}

.footer-container{
    border: 1px solid red;
    display: flex;
    max-width: 1024px;
    height: 128px;
    flex-direction: column;
    gap: 10px;
}

.superior{
    padding-top: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.superior span{
    text-decoration: underline;
    color: #0077ED;
}

.inferior{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.inferior ul{
    display: flex;
    width: 350px;
}

.inferior li{
    border-right: 1px solid #0000008F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0000008F;

}

.inferior li:first-child{
    display: flex;
    justify-content: start;
}

.inferior li:last-child{
    display: flex;
    border-right: none;
}


.colombia{
    display: flex;
    justify-content: flex-end;
}

.colombia a{
    color: #0000008F;
}
